<%- include("partials/header2", {title: "Registered Events"}) %>

<body class="about-us">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-3">
                        <h1 class="site-branding flex">
                            <a href="/index">SUNFEST</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-9">
                        <nav class="site-navigation">

                            <ul>
                                <li><a href="/index">HOME</a></li>
                                <li><a href="/sunfest">SUNFEST</a></li>
                                <li><a href="/artists">ARTISTS</a></li>
                                <li><a href="/profile">PROFILE</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Registered Events</h2>

                        <ul class="breadcrumbs flex align-items-center">
                            <li><a href="#">Home</a></li>
                            <li>Registered Events</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- .entry-header -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="main-content">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>TLD</th>
					        <th>Duration</th>
					        <th>Registration</th>
					        <th>Renewal</th>
					        <th>Transfer</th>
					        <th>Register</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <th scope="row" class="scope" >.com</th>
					        <td>1 Year</td>
					        <td>$70.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.net</th>
					        <td>1 Year</td>
					        <td>$75.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.org</th>
					        <td>1 Year</td>
					        <td>$65.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.biz</th>
					        <td>1 Year</td>
					        <td>$60.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.info</th>
					        <td>1 Year</td>
					        <td>$50.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope border-bottom-0">.me</th>
					        <td class="border-bottom-0">1 Year</td>
					        <td class="border-bottom-0">$45.00</td>
					        <td class="border-bottom-0">$5.00</td>
					        <td class="border-bottom-0">$5.00</td>
					        <td class="border-bottom-0"><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
    </div><!-- main-content -->
	<%- include("partials/footer2") %>